
body{ 
  background: linear-gradient(aqua, yellow, blue);
  margin-top: 0;
  height: 11891px;
  background-repeat: no-repeat;
  background-size: 100%;
}
.h1{
  margin-top: -20px;
  color: white;
  text-shadow: -8px -3px 6px blue;
}

table{
  border: 1px lightcyan;
  border-spacing: 15px;
  height: 10px;
  gap: 30px;
  width: 100%;
  padding-bottom: 0px;
  margin-top: -29px;
}
.a th, td { 
  text-shadow: 0px -2px 20px orange;
  font-weight: bold;
  border: 3px solid darkgreen;
  border-radius: 10px;
  color: black;
  background: lightcyan;
  box-shadow: 6px 7px 1px 0px pink;
  width: 7px;
  text-align: center;
  border-spacing: 270px;
  gap: 3px;
  font-size: 2px;
}
.f{
  width:100px;
  height: 1px;
  font-size: 36px;
}
.f a{
  color:  deeppink;
}
.c{
  width: 100px;
  font-size: 36px;
}
.d{
  width:100px;
  font-size: 36px;
  margin-left: 70px;
}
.e a{
   box-shadow: 0px 0px 0px 0px lightcyan;
  border: 0px;
  background: lightcyan;
  width: 29px;
  height: 5px;
  font-size: 26px;
  font-weight: bold;
  margin-left: -555px;
  padding-right: -5660px;
  text-align: center;
  text-decoration-style: -moz-none;
}
.g{ 
  padding: 60px 72px 70px 70px; 
  border: 2.8px solid black;
  border-radius: 50px;
  right: 1.5%;
  top: 20.8%;
  position: absolute;
  left: 1.5%;
  height: 11350px;
  text-align: center;
  font-size: 20px; 
  margin-left: 5px 0px 5px;
  background: linear-gradient( orange, white, white, lightgreen);
}
h1{
  font-size: 50px;
  margin-top: -30px;
  color: black;
  text-shadow: -8px -3px 6px white;  ;
}
hr{
  background: magenta;
  height: 10px;
}
h2{
  border-radius: 50px;
  border: 3px solid black;
  background-color: paleturquoise;
  font-size: 50px;
  color: red;
  box-shadow: 0px 0px 199px 0px yellow;
  text-shadow: 8px -3px 6px aqua; 
}
p{
  font-weight: bold;
  font-size: 59px;
  color: black;
  font-family: cursive;
}
.g img{
  border-bottom-right-radius: 90px;
  border-top-left-radius: 90px;
  height: 500px;
  Width: 500px;
  box-shadow: 2px 2px 29px 2px black;
}
.aa{
  width: 140%;
  background: linear-gradient( white, red, vilot);
  height: 1999px;
  margin-top:0;
  margin-left: 0px;
  padding-left: 0px;
  background-repeat: no-repeat;
}
.gg{
  border: 2.8px solid black;
  border-radius: 50px;
  right: 1.2%;
  top: 0.2%;
  left: 1.2%;
  height: 11350px;
  text-align: center;
  font-size: 60px;
background: linear-gradient(skyblue, yellow, orange, skyblue);
}


.gg img{
  opacity: 90%;
  margin-bottom: 380px;
  top: 222px;
  margin-left: -63px;
  height: 500px;
  right: 0px;
  Width: 116%;
  box-shadow: 2px 2px 29px 2px black;
}
form{
  margin: -40px;
}
form .ww{
  font-size: 65px;
  margin-top: 0px;
  color:  lightsalmon;
  font-weight: bold;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color:  lightgreen;
  text-shadow: 12px 12px 49px yellow;
}
.z{ 
  box-shadow: 1px 2.1px 2px 0px black;
  height: 6px;
  margin-top: 73px;
  margin-right: 40px;
  margin-left: 40px;
  background: ghostwhite;
}
.aaa{
  color: lightcyan lavender lemonchiffon
}
.ggg{
  margin-left: 20px;
  width: 950px;
  height: 1500px;
  border: 2.8px solid black;
  border-radius: 50px;
  right: 1.2%;
  top: 12.2%;
  left: 1.2%;
  text-align: center;
  font-size: 60px;
background: linear-gradient(lemonchiffon, lavender, lightcyan );
}
input{
  color: firebrick;
  margin: 0px;
  margin-left: 0px;
  background:  lavender;
  width: 5%;
  height: 90px; 
  font-size: 30px;
  font-weight: bold;
  word-spacing: 20px;
  letter-spacing: 20px;
  text-align: center;
  font-family: casual;
  border-radius: 80px;
  background: linear-gradient(bisque)
}
input{
  margin-top: 55px;
  color: firebrick;
  margin: 0px;
  margin-right: 425px;
  background:  lavender;
  margin-left: 233px;
  width: 20px;
  height: 90px; 
  font-size: 30px;
  font-weight: bold;
  word-spacing: 20px;
  letter-spacing: 20px;
  text-align: center;
  font-family: casual;
  border-radius: 80px;
  background: linear-gradient(bisque)
}
.q{
  margin-left: 93px;
  font-size: 20px;
  background-color:  aqua;
  width: 1%;
  height: 50px;
  block-size: 23px ;
}
.qq{
  color: darkcyan;
  font-weight: bolder;
  margin-left: -20px;
  width: 2%;
  font-size: 44px;
  font-family: casual;
  height: 20px;
  word-spacing: 0px;
  text-align: left;
  text-shadow: 12px 12px 49px yellow;
}